/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 déc. 2015, 19:29:57
    Author     : Maxime
*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.number {
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

#number1 {
    background: #FA6610;
}   

#number2 {
    background: #F4A314;
}   

#number3 {
    background: #3BA52B;
}   

#number4 {
    background: #2781B6;
}   

#number5 {
    background: #433E92;
}  
#number6 {
    background: #FF4040;
}  

#information_non_renseigne{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
    text-align: center;
}
#tableauFormation,
#tableauStage
{
    text-align: center;
}
