@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

span{
    font-weight: bold;
}

a{
   color: #cf4d35;
   text-decoration: none;
}

a:hover {
    color: #cf4d35;
    text-decoration: underline;
}

.trait{
    width: 75%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color:  #444B58;
}

/*Box contenant toute les box d'actualite*/
.box-principal{
    max-width: 55%;
    background: #F9F9F9;
    margin: 40px auto;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#box-principal-one{
    width:100%;
    height:400px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

#box-principal-two{
    width:100%;
    height:400px;
    text-align: center;
    
}

/**********************************/
/**********Style box lycee********/
/********************************/

/*Box principal contenant la barre et l'actualite*/
#box_lycee{
    width: 25%;
    max-height: 95%;
    min-height: 40%;
    display: inline-block;
    position: absolute;
    left : 23%;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);  
}

/*Box contenant la barre de couleur*/
#barre_box_lycee{
    width: 100%;
    height: 15%;
    background: #FA6610;  
}

.titre_categorie_actualite{
    padding-left: 2%;
    color : white;
    font-family: '../font/Silica-Light.ttf', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold; 
}

/*Box contenant l'actualite'*/
#actualite_box_lycee{
    padding: 20px;
}


/**********************************/
/********Style box mariage********/
/********************************/

/*Box principal contenant la barre et l'actualite*/
#box_mariage{
    width: 25%;
    max-height: 95%;
    min-height: 40%;
    display: inline-block;
    position: absolute;
    right : 23%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    background: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/*Box contenant la barre de couleur*/
#barre_box_mariage{
    width: 100%;
    height: 5%;
    background: #F4A314;
}

/*Box contenant l'actualite'*/
#actualite_box_mariage{
    padding: 20px;
}


/**********************************/
/*********Style box deces*********/
/********************************/

/*Box principal contenant la barre et l'actualite*/
#box_deces{
    width: 25%;
    max-height: 95%;
    min-height: 40%;
    display: inline-block;
    position: absolute;
    left : 20%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    background: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/*Box contenant la barre de couleur*/
#barre_box_deces{
    width: 100%;
    height: 5%;
    background: #433E92;
}

/*Box contenant l'actualite'*/
#actualite_box_deces{
    padding: 20px;
}


/**********************************/
/*******Style box naissance*******/
/********************************/

/*Box principal contenant la barre et l'actualite*/
#box_naissance{
    width: 25%;
    max-height: 95%;
    min-height: 40%;
    display: inline-block;
    position: absolute;
    right : 23%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3%;
    background: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/*Box contenant la barre de couleur*/
#barre_box_naissance{
    width: 100%;
    height: 5%;
    background: #3BA52B;
}

/*Box contenant l'actualite'*/
#actualite_box_naissance{
    padding: 20px;
}




/*
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="nom"],
.form-style-5 input[type="prenom"],
.form-style-5 input[type="dtn"],
.form-style-5 input[type="adresse"],
.form-style-5 input[type="cp"],
.form-style-5 input[type="ville"],
.form-style-5 input[type="telfixe"],
.form-style-5 input[type="mobile"],
.form-style-5 input[type="email"],
.form-style-5 input[type="formation"],
.form-style-5 input[type="annee"],
.form-style-5 input[type="discipline"],
.form-style-5 input[type="posteoccupe"],
.form-style-5 input[type="entreprise"],
.form-style-5 input[type="adresseEnt"],
.form-style-5 input[type="secteurEnt"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: #D4D4D4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: white;
    /*color:#8a97a0;*/
   /* -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: white;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

#number1 {
    background: #FA6610;
}   

#number2 {
    background: #F4A314;
}   

#number3 {
    background: #3BA52B;
}   

#number4 {
    background: #2781B6;
}   

#number5 {
    background: #433E92;
}  

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}

#information_non_renseigne{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
    text-align: center;
}
*/
