@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


h1{
    font-family: '../font/Silica-Light.ttf', Arial, Helvetica, sans-serif;
    color: #028fcc;
}

p, h3{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
span.recap{
    font-weight: bold;
}

label{
    display: block;
    margin: 8px;
}

.box-ajout{
    max-width: 55%;
    padding: 10px 20px;
    background: #FFFFFF;
    margin: 40px auto;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/*************************/
/****Listes déroulante****/
/*************************/
.select{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: #D4D4D4;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: white;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    -webkit-appearance: menulist-button;
    height:45px;
    border-color: #CF4D35;
    border-style: solid;
    border-width: 2px;
}
/*************************/
/*********Boutons*********/
/*************************/
.bouton {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #CF4D35;
  border: 3px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font: 400 1.4rem 'Lato', Verdana, Helvetica, sans-serif;
  margin-top: 30px;
}

.bouton:hover {
  background-color: #ffffff;
  color: #CF4D35;
  border-color: #CF4D35;
}
/*************************/
/*********Inputs*********/
/***Champs à remplir****/
.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 5px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    border-color: #CF4D35;
    border-style: solid;
    border-width: 2px;
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 2px solid #E77A66;
    color: #3c3c3c;
    outline: none;
    padding: 13px 13px 13px 5px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

#number1 {
    background: #FA6610;
}   

#number2 {
    background: #F4A314;
}   

#number3 {
    background: #3BA52B;
}   

#number4 {
    background: #2781B6;
}   

#number5 {
    background: #433E92;
}  



label
{
    text-align: center;
}
a
{
    text-decoration: none;
}
#rediriger
{
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}